    <div class="credits text-center">
        <p>
            <a href="https://github.com/galvig/iHack-2016-the-truth">the iTruth application</a>
        </p>
        <p>
            <a href="http://www.israelhackathon.com/">iHack 2016</a>
        </p>
    </div>
</body>
</html>